.nav {
    backdrop-filter: blur(10px); // Apply the blur effect
}

.button {
    --width: 120px;
    --height: 35px;
    // --tooltip-height: 35px;
    // --tooltip-width: 90px;
    // --gap-between-tooltip-to-button: 18px;
    // --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    border: #ff1818 2px solid;
    color: red !important;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper,
.text,
.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0;
}

.text,
.icon {
    transition: top 0.5s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.button:hover {
    background: #ff1818;
}

.button:hover .text {
    top: -100%;
}

.button:hover .icon {
    top: 0;
}



.btn-cssbuttons {
    --btn-color: #fe2727;
    position: relative;
    padding: 16px 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: white;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(0 2px 8px rgba(255, 0, 0, 0.295));
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--btn-color);
    border-radius: 24px;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
    display: inline-flex;
    vertical-align: middle;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
    transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
    padding-right: 7px;
}

.btn-cssbuttons span span {
    margin-left: 8px;
    transition-delay: 0.1s;
}

.btn-cssbuttons ul {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translateY(-50%);
}

.btn-cssbuttons ul li {
    flex: 1;
}

.btn-cssbuttons ul li a {
    display: inline-flex;
    vertical-align: middle;
    transform: translateY(55px);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
    opacity: 0.5;
}



.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
    transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
    transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
    transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
    transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
    transition-delay: 0.25s;
}


.about {
    position: relative;
}

.about::before {
    content: "";
    position: absolute;
    top: 46;
    left: 22%;
    /* Adjust this value according to your layout */
    width: 79%;
    /* Adjust this value according to your layout */
    height: 1%;
    background: #ffffff45;
    z-index: -1;
}

@media (max-width: 768px) {

    /* Adjust the max-width according to your needs */
    .about::before {
        top: 42%;
        /* Adjust this value according to your layout */
        left: 5%;
        /* Adjust this value according to your layout */
        width: 0%;
        /* Adjust this value according to your layout */
    }
}

@media (max-width: 576px) {

    /* Adjust the max-width according to your needs */
    .about::before {
        top: 55%;
        /* Adjust this value according to your layout */
        left: 63%;
        /* Adjust this value according to your layout */
        width: 70%;
        /* Adjust this value according to your layout */
    }
}




.project {
    position: relative;
    left: 78%;
}

.project::before {
    content: "";
    position: absolute;
    top: 46;
    right: 105%;
    width: 47vw;
    height: 1%;
    background: #ffffff45;
    z-index: -1;
}

@media (max-width: 768px) {

    /* Adjust the max-width according to your needs */
    .project {
        left: 60%;
    }

    .project::before {
        top: 42%;
        /* Adjust this value according to your layout */
        right: 5%;
        /* Adjust this value according to your layout */
        width: 0%;
        /* Adjust this value according to your layout */
    }
}

@media (max-width: 576px) {

    /* Adjust the max-width according to your needs */
    .project::before {
        top: 55%;
        /* Adjust this value according to your layout */
        right: 100%;
        /* Adjust this value according to your layout */
        width: 70%;
        /* Adjust this value according to your layout */
    }
}


.wave-group {
    position: relative;
    top: 50%;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    max-width: 500px; /* Limiting max-width for larger screens */
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: rgb(255, 0, 0);
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 100%;
    max-width: 500px; /* Limiting max-width for larger screens */
}

.wave-group .bar:before,
.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0%;
    bottom: 1px;
    position: absolute;
    background: rgb(255, 0, 0);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
    width: 50%;
}

/* Adjustments for textarea */
.wave-group textarea.input {
    font-size: 16px;
    padding: 20px 10px 20px 5px; /* Adjusted padding */
    width: 100%;
    max-width: 100%; /* Allowing the textarea to take full width */
    height: 200px; /* Fixed height for textarea */
}

@media (max-width: 768px) {
    .wave-group .input,
    .wave-group .bar {
        max-width: 400px; /* Adjust max-width for smaller screens */
    }
}

@media (max-width: 576px) {
    .wave-group .input,
    .wave-group .bar {
        width: 300px; /* Adjust max-width for even smaller screens */
    }
    .wave-group textarea.input {
        height: 150px;
    }
}



.line{
    position: relative;
}
.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* Start from the center */
    transform: translateX(-50%);
    width: 0; /* Initially set width to 0 */
    height: 1px;
    background: #ff0000;
    z-index: -1;
}

.line::before {
    animation: expandLine 0.5s linear forwards; /* Start the animation on hover */
}

@keyframes expandLine {
    0% {
        width: 0; /* Start with no width */
        left: 50%; /* Start from the center */
        transform: translateX(-50%);
    }
    50% {
        width: 115%; /* Expand to both sides */
        left: 0; /* Move to the left edge */
        transform: translateX(0);
    }
    100% {
        width: 115%; /* Maintain width */
        left: 0; /* Maintain left position */
        transform: translateX(0);
    }
}




@supports (animation: grow .5s cubic-bezier(.25, .25, .25, 1) forwards) {
    .tick {
        stroke-opacity: 0;
        stroke-dasharray: 29px;
        stroke-dashoffset: 29px;
        animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
        animation-delay: .6s
    }

    .circle {
        fill-opacity: 0;
        stroke: #ff0000;
        stroke-width: 16px;
        transform-origin: center;
        transform: scale(0);
        animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;
    }
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }

    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #ff0000;
    }
}

@keyframes draw {

    0%,
    100% {
        stroke-opacity: 1;
    }

    100% {
        stroke-dashoffset: 0;
    }
}
